:80 {
  @website host website.local
  reverse_proxy @website website:3000

  @app host app.local
  reverse_proxy @app app:3001

  @api host api.local
  reverse_proxy @api api:4000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }
}
